#swade-fear-points-display .fear-points-display {
  background-image: url(/systems/swade/assets/main_bg.webp);
  background-position: 0 0;
  background-repeat: repeat;
  display: flex;
  margin: -8px;
  padding: 8px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .count {
    color: var(--section-header-color);
    font-size: 70px;
    width: 70px;
    text-align: center;
  }

  button {
    font-size: 40px;
    cursor: pointer;
  }
}
