#swade-fear-points-display {
  .window-content {
    padding: 0;
  }

  .fear-points-display {
    background-image: url(/systems/swade/assets/main_bg.webp);
    background-position: 0 0;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .count {
      color: var(--section-header-color);
      font-size: 70px;
      width: 70px;
      text-align: center;
    }

    button {
      font-size: 40px;
      cursor: pointer;
      color: rgb(17, 17, 17);
    }
  }
}
