<div class="swade-official fear-points-display">
  {{#if isGm}}
    <button class="fear-minus-button">
      <i class="minus-button fa-regular fa-circle-minus"></i>
    </button>
  {{/if}}
  <div class="count">{{fearPoints}}</div>
  {{#if isGm}}
    <button class="fear-plus-button">
      <i class="plus-button fa-regular fa-circle-plus"></i>
    </button>
  {{/if}}
</div>